version: '2.1'

networks:
  getl_network:

services:
  traefik:
    container_name: getl_traefik
    image: traefik:v2.2.0
    command:
      - --entrypoints.web.address=:80
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.myresolver.acme.tlschallenge=true
      - --certificatesresolvers.myresolver.acme.email=tucorreo@gmail.com
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    networks:
      - getl_network
    mem_limit: 300mb
    restart: "unless-stopped"

  web1:
    container_name: getl_web1
    image: php:7.3-apache
    dns:
      - 1.1.1.1
      - 1.0.0.1
    volumes:
      - "./app/web1:/var/www/html"
    networks:
      - getl_network
    mem_limit: 512mb
    restart: "unless-stopped"
    labels:
      - traefik.enable=true
      - traefik.http.routers.getl_web1.entrypoints=websecure
      - traefik.http.routers.getl_web1.tls.certresolver=myresolver
      - traefik.http.routers.getl_web1.rule=Host(`dominio1.com`, `www.dominio1.com`) # Ejemplo con 2 dominios en el mismo contenedor
      - traefik.http.services.getl_web1.loadbalancer.server.port=80

  web2:
    container_name: getl_web2
    image: php:7.3-apache
    dns:
      - 1.1.1.1
      - 1.0.0.1
    volumes:
      - "./app/web2:/var/www/html"
    networks:
      - getl_network
    mem_limit: 512mb
    restart: "unless-stopped"
    labels:
      - traefik.enable=true
      - traefik.http.routers.getl_web2.entrypoints=websecure
      - traefik.http.routers.getl_web2.tls.certresolver=myresolver
      - traefik.http.routers.getl_web2.rule=Host(`dominio2.com`)
      - traefik.http.services.getl_web2.loadbalancer.server.port=80

  web3:
    container_name: getl_web3
    image: php:7.3-apache
    dns:
      - 1.1.1.1
      - 1.0.0.1
    volumes:
      - "./app/web3:/var/www/html"
    networks:
      - getl_network
    mem_limit: 512mb
    restart: "unless-stopped"
    labels:
      - traefik.enable=true
      - traefik.http.routers.getl_web3.entrypoints=websecure
      - traefik.http.routers.getl_web3.tls.certresolver=myresolver
      - traefik.http.routers.getl_web3.rule=Host(`dominio3.com`)
      - traefik.http.services.getl_web3.loadbalancer.server.port=80

